.cart-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart-list{
  width: 80%;
}
.cart-list::after{
  content: "";
  width: 80%;
  padding-bottom: 1px;
  background-color: #4d4d4d74;
}
.cart-list-item{
  margin: 15px;
  width: 80%;
}

.cart-list-title{
  width: 80%;
  height: 45px;
  margin: 15px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.441);
}
.cart-list-title p{ 
  text-align: center;
  font-weight: bold;
  color: #4d4d4d;
}

.list-title-img{
  width: 110px;
}

.list-checkbox-box{
  width: 50px;
}

.list-checkbox-box input{
  width: 30px;
  height: 30px;
  accent-color: #ffcc00;
}

.list-img-box{
  width: 110px;
  height: 110px;
  border: 1px solid #ffcc00;
  border-radius: 5px;
}

.list-img-box img{
  width: 80px;
  height: 80px;
}

.list-title-box{
  width: 330px;
  padding-left: 20px;
}

.list-stack-box{
  width: 65px;
  margin: 0 10px;
  position: relative;
}

.list-stack-box input{
  width: 15px;
  height: 15px;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  border-radius: 3px;
}

.list-stack-btn{
  height: 43px;
  margin: 4px;
  flex-direction: column;
}

.list-stack-btn button{
  border-radius: 3px;
  width: 30px;
  height: 20px;
}

.list-cancel-box{
  width: 70px;
}
.list-cancel-box button{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: white;
  background-color: #4d4d4d;
}

.list-cancel-box i{
  margin-top: 2px;
  font-size: 1.3rem;
}
/* .list-cancel-box button{
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: white;
  border: 1px solid #4d4d4d;
}

.list-cancel-box i{
  margin-top: 2px;
  font-size: 1.3rem;
  color: #4d4d4d;
} */

.list-point-box{
  width: 80px;
}

.list-price-box{
  width: 160px;
}

.list-price-box p{
  font-size: 1.5rem;
  font-weight: bold;
}

.cart-btn-box{
  width: 320px;
  height: 60px;
  margin: 40px;
}
.cart-btn-box button{
  width: 155px;
  height: 40px;
}

.cart-price-top{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin-top: 50px;
}

.cart-price-top-text{
  margin-right: 115px;
}
.cart-price-top-text p{
  margin-right: 15px;
  font-weight: bold;
  font-size: 2rem;
}

.cart-price-bot{
  width: 100%;
  height: 70px;
  background: linear-gradient(115deg, #ffcc00, #ffcc00 80%, #4d4d4d 80%, #4d4d4d);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  bottom: 0;
}

.cart-price-bot p:first-child {
  color: #4d4d4d;
  font-size: 2rem;
  font-weight: bold;
  width: 200px;
  
}

.cart-price-bot p:nth-child(2) {
  color: #FAE41C;
  font-size: 2rem;
  font-weight: bold;
  width: 250px;
}

/* promotion 말풍선 */
.promotion-bubble {
  position: absolute;
  border-radius: 4px;
  width: 50px;
  height: 20px;
  left: 50px;
  bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.promotion-bubble:after {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
  border-top-color: inherit;
}

.promotion-bubble > p{
  font-size: 0.8rem;
  font-weight: bold;
}

.opo-color{
  background: rgb(250, 228, 28);
  color: black;
}

.opo-color:after {
  border-top-color: rgb(250, 228, 28);
}

.tpo-color{
  background: rgb(248, 94, 28);
  color: white;
}

.tpo-color:after {
  border-top-color: rgb(248, 94, 28);
}