.checkOut-container {
    width: 100%;
    display: flex;
    flex-direction: column; /* 세로 배치 설정 */
    align-items: center;
}

.checkOut-container p {
    margin: 8px;
    font-size: 0.9rem;
    color: #4b4b4b;
}

.checkOut-container h2 {
    color: #4b4b4b;
}

.checkOut-contents {
    display: flex;
    flex-direction: column; /* 세로 배치 설정 */
    align-items: center;
}

.checkOut-title-box {
    width: 100%;
    height: 100px;
    background-color: #FAE41C;
}

.title-box-text {
    width: 850px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkOut-title-box img {
    width: 60px;
    height: 60px;
}

.title-box-text h1 {
    margin: 10px;
}

.checkOut-contents-box {
    width: 800px;
    margin-top: 30px;
    display: flex;
    flex-direction: column; /* 세로 배치 설정 */
    align-items: center;
}

.checkOut-grid {
    width: 660px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
}

.co-contents-title {
    width: 800px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 50px;
}

.co-contents-title img {
    width: 50px;
    height: 25px;
    margin-right: 20px;
}

.co-contents-title > button {
    width: 100px;
    height: 28px;
    border-radius: 4px;
    margin: 5px 0 0 15px;
    background-color: white;
    border: 1px solid #4b4b4b;
}

.co-contents-title::after {
    content: "";
    margin: 10px 0 0 10px;
    height: 0.5px;
    background-color: #4b4b4b70;
    flex: 1;
    padding-right: 30px;
}

.co-user-input-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.checkOut-user-info > div > input {
    width: 100px;
    padding: 6px 10px 5px 10px;
    font-size: 0.8rem;
    border-radius: 4px;
    margin-left: 8px;
    border: 1px solid #4b4b4b;
}

.checkOut-user-info > div > button {
    width: 50px;
    height: 27px;
    border-radius: 4px;
    background-color: white;
    border: 1px solid #4b4b4b;
    margin-left: 5px;
}

.co-delivery-item {
    width: 660px;
    display: grid;
    align-items: baseline;
    grid-template-columns: 4fr 1fr 1fr 1fr 1.5fr 1fr;
}

.co-delivery-item p:nth-child(2) {
    background-color: #FAE41C;
    border-radius: 4px;
    width: 40px;
    padding: 2px 0;
    text-align: center;
    font-weight: 500;
}

.co-delivery-item p:nth-child(3) {
    text-align: right;
}

.co-delivery-item p:nth-child(4) {
    text-align: left;
}

.co-delivery-item p:nth-child(6) {
    text-align: right;
}

.co-point-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.co-point-box > button {
    width: 60px;
    height: 30px;
}

.checkOut-method {
    margin: 8px 0 0 4px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.checkOut-method input {
    width: 15px;
}

.checkOut-btn-box {
    width: 300px;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.checkOut-btn-box button {
    width: 148px;
    height: 40px;
}
