/* 전체 컨테이너 */
.page-container {
  flex: 1;
  display: flex;
  height: 100vh;
}

/* 마이페이지 컨테이너 */
.favorite-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 86px;
  background-color: #000;
  background: linear-gradient(115deg, #000000 56.5%, #00000000 56.5%, #ffffff 65.5%, #ffffff 65.5%);
}

.favorite-font{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.favorite-header h1{
  color: #FAE41C;
  margin: 0;
  padding-left: 20px;
}

.Favorite-content {
  position: relative;
  z-index: 2;
  padding-top: 60px;
}

.Favorite-title {
  color: #FAE41C;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  margin-left: 10px;
  font-weight: bold;
}

.Favorite-content ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.Favorite-content ul li {
  margin: 10px 0;
  color: black;
  font-size: 14px;
  display: block;
}

.favorite-content ul li a {
  color: black;
  text-decoration: none;
  display: block;
}

/* 즐겨찾기 섹션 스타일 */
.favorite-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.favorite-content {
  flex: 1;
  text-align: center;
  overflow-y: auto;
  margin-top: 20px;
}

.favorite-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.favorite-table th, .favorite-table td {
  border: none;
  padding: 8px;
  text-align: left;
}

.favorite-table th {
  background-color: #f2f2f2;
}

.favorite-table img {
  width: 50px;
  height: 50px;
}

.remove-button {
  background-color: #FAE41C;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-icon {
  width: 20px;
  height: 20px;
}