

/* 문의신청 전체페이지 */
.inquiry-page{
    background-color: black;    
    flex:1;
}

/* 문의신청 폼 */
.inquiry-form{
    justify-content: center;
    background-color: white;
    border-radius: 8px;
    height: 300px;
    width: 600px;
    border-bottom: 2px solid #5F5F5F;
}
.inquiry-header{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
.inquiry-h1{
    color:#FAE41C;
    width:40%;
    text-align: center;
}

/* 문의내역 버튼 */
.inquiry-button{
    width:30%;
    display:flex;
    justify-content: flex-end;
}
.my-inquiry-button{
    height: 35px;
    width: 100px;
}
.my-inquiry-button a{
    color: black; 
}

/* 문의내역 폼 헤드 */
.inquiry-form-head{
    color:#FAE41C;
    align-items: center;
    width:570px;
    border-bottom: 1.5px dotted #959595;
    padding: 15px;
}

/* 드랍다운:문의 카테고리 */
.inquiry-category-dropdown{
    height: 35px;
    width: 140px;
    border-radius: 8px;
    background-color: #5F5F5F;
    color: white;
    outline:none;
    padding-left: 10px;    
}

.highlight{
    background-color: #FAE41C;
}
.inquiry-category-dropdown>option{
    text-align: left;
}

/* 제목입력칸 */
.inquiry-title{
    height: 35px;
    width: 410px;
    border-radius: 8px;
    padding-left: 13px;
}
/* 내용입력칸 */
.inquiry-content{
    padding: 15px;
}
.inquiry-content-item{
    height:170px;
    width:536px;
    resize:none;
    outline:none;
    border:0;
    padding: 15px;
    font-family: "Inter", "Noto Sans KR", sans-serif;
}

/* 이미지입력칸 */
.inquiry-picture{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    margin-top: 5px;   
    
}

/* 하단 등록 버튼들 */
.inquiry-submit-buttons{
    display:flex;
    justify-content: center;
    gap:10px;
    margin-top:10px;
    margin-bottom:10px;
}
.inquiry-register{
    height:35px;
    width:100px; 
}
.inquiry-tempsave{
    height:35px;
    width:100px;
}

.inquiry-imgupload{
    height: 50px;
    width: 50px;
}

.inquiry-imguploaded{
    opacity: 1;    
    max-height: 300px; 
    max-width: 420px;
    object-fit: contain;
}