@keyframes popIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.3);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

dialog {
  width: 350px;
  height: 500px;
  border: none;
  border-radius: 20px;
  opacity: 1; /* 항상 보이도록 설정 */
  animation: popIn 0.35s forwards;
}

.modal-contents {
  height: 100%;
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #4b4b4b;
  font-size: 2rem;
}

.modal-login-form {
  width: 220px;
  height: 130px;
  margin-bottom: 20px;
}

.modal-login-form div {
  width: 200px;
}

.modal-login-form div:first-of-type {
  height: 90px;
}

.modal-login-form input {
  width: 180px;
  padding: 10px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
  margin-top: 5px;
}

.modal-login-img {
  height: 220px;
  margin-bottom: 10px;
}

.modal-login-img img:nth-child(1) {
  width: 170px;
  height: 170px;
}

.modal-login-img img:nth-child(2) {
  width: 170px;
  height: 30px;
}

.modal-login-text-box {
  width: 100px;
}

.modal-login-text-box span {
  font-size: 3rem;
  font-weight: 900;
}

.remember-id-box {
  width: 100%;
  height: 30px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.remember-id-box > input{
  width: 15px;
  height: 15px;
  margin: 0;
}
.remember-id-box > label{
  margin-left: 5px;
  font-size: 0.8rem;
  height: 20px;
}

.modal-login-botton-box {
  margin-top: 10px;
}
.modal-login-botton-box button {
  width: 97px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  padding: 0;
  font-size: 0.9rem;
}

.login-modal-btn{
  width: 97px;
  height: 35px;
  border-radius: 4px;
  font-weight: bold;
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
}
.modal-login-botton-box a {
  width: 97px;
  height: 35px;
  font-size: 0.9rem;
}
