/* MyInfo 컴포넌트 스타일 */
.myinfo-container {
  flex: 1;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myinfo-header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 86px;
  background: linear-gradient(115deg, #000000 56.5%, #00000000 56.5%, #ffffff 65.5%, #ffffff 65.5%);
}

.myinfo-font{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
}

.myinfo-header h1{
  color: #FAE41C;
  margin: 0;
  padding-left: 20px;
}

.myinfo-name {
  font-size: 10px;
}

.myinfo-form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

.myinfo-form input,
.myinfo-form select {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}

.myinfo-phone {
  display: flex;
  justify-content: space-between;
}

.myinfo-phone input {
  width: 32%;
}

.myinfo-email {
  display: flex;
  justify-content: space-between;
}

.myinfo-email input {
  width: 60%;
}

.myinfo-email select {
  width: 38%;
}
.myinfo-address{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myinfo-address input{
  width: 300px;
}

.myinfo-address button{
  width: 90px;
  height: 37px;
  margin-bottom: 10px;
}

.myinfo-buttons {
  display: flex;
  justify-content: space-between;
}

.save-button,
.cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 48%;
}

.save-button {
  background-color: #FAE41C;
  color: black;
}

.cancel-button {
  background-color: #333;
  color: white;
}