/* 전체 컨테이너 */
.page-container {
  flex: 1;
  display: flex;
  height: 100vh;
}

/* 마이페이지 컨테이너 */
.mypage-container {
  width: 250px;
  background-color: yellow;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}

/* 상단 사선 검은색 배경 */
.mypage-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 125px;
  background-color: black;
  clip-path: polygon(0 0, 0 100%, 100% 60%, 100% 0);
  z-index: 1;
}

.mypage-content {
  position: relative;
  z-index: 2;
  padding-top: 60px;
}

.mypage-title {
  color: #FAE41C;
  transform: rotate(-10deg);
  transform-origin: bottom left;
  margin-left: 10px;
  font-weight: bold;
}

.mypage-content ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.mypage-content ul li {
  margin: 10px 0;
  color: black;
  font-size: 14px;
  display: block;
}

.mypage-content ul li a {
  color: black;
  text-decoration: none;
  display: block; /* 링크를 블록 요소로 설정 */
}

.section-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow: hidden; /* 스크롤 영향 받지 않도록 설정 */
}

.section-header {
  background-color: #000;
  background: linear-gradient(115deg, #000000 52.75%, #00000000 52.75%, #ffffff 52.75%, #ffffff 52.75%);
  color: #fff;
  padding: 23px;
  text-align: left;
  flex: 0 0 auto; /* 고정 위치 설정 */
  display: block;
}

.section-content {
  flex: 1;
  text-align: center;
  overflow-y: auto;
  margin-top: 20px;
}

.mypage-info {
  padding: 20px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.mypage-info p {
  margin: 10px 0;
  font-size: 16px;
}

.update-button {
  background-color: #FAE41C;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

.mypage-icon{
  height: 100px;
  width: 100px;
  border: 4px solid white;
  border-radius: 8px;
  background-color: white;
  margin: 100px 10px 0px 10px;
}

.mypage-icon:hover{
  border: 4px solid #FAE41C;
  border: 2px solid white;
  border-radius: 8px;
  margin: 10px;
}

.mypage-icon:hover{
  border: 2px solid #FAE41C;
}

.black-bg{
  background-color: black;
}

.mypage-text{
  color:gray;
}
.mypage-text:hover{
  font-weight: 800;
}
.flex-width{
  width:700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}