
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: "Inter", "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

a, p, span, i{
    margin: 0;
    text-decoration: none;
}

button{
    border: none;
}

a{
    text-decoration: none;
}

button:hover{
    cursor: pointer;
}

input{
    border: none;
}

input:focus{
    outline: 1px solid #FAE41C;
}

.thema-btn-01{
    color: #5F5F5F;
    background-color: #FAE41C;
    border-radius: 4px;
    font-weight: bold;
}

.thema-btn-02{
    color: #D9D9D9;
    background-color: #4C4C4C;
    border-radius: 4px;
    font-weight: bold;
}

.thema-btn-03{
    color: #D9D9D9;
    background-color: #828282;
    border-radius: 4px;
    font-weight: bold;  
}

.thema-font-01{
    color: #FAE41C;
}

.thema-font-02{
    color: #4C4C4C;
}

.thema-font-03{
    color: #828282;
}

.font-w-b{
    font-weight: bold;
}

.thema-btn-01{
    color: #5F5F5F;
    background-color: #FAE41C;
    border-radius: 4px;
}

.thema-btn-02{
    color: #D9D9D9;
    background-color: #4C4C4C;
    border-radius: 4px;
}

.thema-btn-03{
    color: #D9D9D9;
    background-color: #828282;
    border-radius: 4px;
}

.flex-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-sa{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-s{
    display: flex;
    justify-content: start;
    align-items: center;
}

.flex-d-column{
    flex-direction: column;
}

.w-100{
    width: 100%;
}
.h-100{
    height: 100%;
}
.wh-100{
    width: 100%;
    height: 100%;
}

.font-s-i{
    font-style: italic;
}