.signUp-container{
  width: 100%;
  /* background-image: url("../image/store_image/signup_bg2.png"); */
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  flex-direction: column;
  /* background-color: #4d4d4d; */
  background-color: black;
}

.signUp-container input, select{
  padding: 8px 20px;
}
.signUp-box{
  width: 600px;
  height: 530px;
  padding: 35px 0;
  /* background-image: url("../image/store_image/signup_bg.png"); */
  background-size: cover;
}

.signUp-box > img{
  width: 310px;
  object-fit: cover;
  margin-bottom: 20px;
}

.signUp-form{
  width: 350px;
  height: 530px;
}

.signUp-form > input{
  width: 240px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
}

.signUp-name-box{
  width: 280px;
}

.signUp-name-box > input{
  width: 150px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
}

.signUp-phone-box{
  width: 100%;
}

.signUp-name-box button{
  width: 80px;
  height: 32px;
  border-radius: 4px;
  font-weight: bold;
}

.signUp-phone-box{
  width: 280px;
}

.signUp-phone-box > input{
  width: 48px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
  
}

.signUp-email-box{
  width: 280px;
}

.signUp-email-box > input{
  width: 100px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
}

.signUp-email-box > select{
  width: 130px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
  border: none;
}

.signUp-address{
  width: 280px;
}

.signUp-address > input{
  width: 150px;
  border-radius: 4px;
  background-color: #F2F2F2;
  font-weight: bold;
}

.signUp-address > button{
  width: 80px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
}

.signUp-button-box{
  width: 280px;
}
.signUp-button-box button{
  width: 133px;
  height: 30px;
  border-radius: 4px;
  font-weight: bold;
}

.signUp-img-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.signUp-img-box > img{
  width: 280px;
  object-fit: cover;
  margin-top: 10px;
}